<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/test.css" />
  </head>
  <body>
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <div class="img-blog">
            <img
              src="https://www.w3schools.com/w3images/ny.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div>
              <h1>New York</h1>
              <p>Thank you, New York - A night we won't forget.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="img-blog">
            <img
              src="https://www.w3schools.com/w3images/la.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div>
              <h1>Los Angeles</h1>
              <p>We had the best time playing at Venice Beach!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="img-blog">
            <img
              src="https://www.w3schools.com/w3images/ny.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div>
              <h1>Chicago</h1>
              <p>Thank you, Chicago - A night we won't forget.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tourDate">
      <div class="tourDate-head">
        <h1>TOUR DATES</h1>
        <p>Remember to book your tickets!</p>
        <div class="tourDate-time">
          <div class="tourDate-month">
            <span>September</span>
            <span class="out">Sold out</span>
          </div>
          <div class="tourDate-month">
            <span>October</span>
            <span class="out">Sold out</span>
          </div>
          <div class="tourDate-month November">
            <span>November</span>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="tourDate-content"></div>
    </div>

    <div class="contact">
      <div class="contact-head">
        <h1>CONTACT</h1>
        <p>Fan? Drop a note!</p>
      </div>
      <div class="contact-content">
        <div class="contact-text">
          <p><i class="fas fa-map-marker-alt"></i>Chicago, US</p>
          <p><i class="fas fa-phone"></i>Phone: +00 151515</p>
          <p><i class="fas fa-phone"></i>Email: mail@mail.com</p>
        </div>
        <div class="contact-inputGroup">
          <div class="contact-info">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="text" placeholder="Email" />
            </div>
          </div>
          <input type="text" placeholder="Message" />
          <button>SEND</button>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
